<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="2.5.2" />
  <package id="log4net" version="1.2.10" />
  <package id="Moq" version="4.0.10827" />
  <package id="PowerThreading" version="20101026.0" />
  <package id="Rhino.PersistentHashTable" version="1.7.0.0" />
  <package id="Rhino.Queues" version="1.4.0.0" />
  <package id="Rhino.ServiceBus" version="2.2.2.0" />
  <package id="Rhino.ServiceBus.References" version="2.2.2.0" />
  <package id="xunit" version="1.9.0.1566" />
</packages>