<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ExtensionWithExtensionConfigurationSection" type="bbv.Common.Bootstrapper.Configuration.ExtensionConfigurationSection, bbv.Common.Bootstrapper"/>
    <section name="ExtensionWithExtensionConfigurationSectionWithDictionary" type="bbv.Common.Bootstrapper.Configuration.ExtensionConfigurationSection, bbv.Common.Bootstrapper"/>
  </configSections>

  <ExtensionWithExtensionConfigurationSection>
    <Configuration>
      <add key="EndpointAddress" value="127.0.0.1"/>
      <add key="StartServer" value="true"/>
    </Configuration>
  </ExtensionWithExtensionConfigurationSection>

  <ExtensionWithExtensionConfigurationSectionWithDictionary>
    <Configuration>
      <add key="SerialPort" value="COM3"/>
      <add key="BaudRate" value="9600"/>
    </Configuration>
  </ExtensionWithExtensionConfigurationSectionWithDictionary>
  
</configuration>